@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #80ff91;
  --primary-hover: #50ff6a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --font-sans: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), system-ui, -apple-system, sans-serif;
}
